
.admin {
    padding-top: 10px;
}
.admin .parent-container {
    width: 350px;
    border: 2.5px solid orange;
    padding: 10px;
    margin-left: 55px;
    text-align: left;
}

button {
    padding-top: 10px;
    text-align: center;
}