ul {
    list-style: none;
    display: flex;
    justify-content: center;
        font-family: 'Azo Sans', sans-serif;
}

li {
    margin-right: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 10px;
        transition: background-color 0.3s ease, border 0.3s ease;
    }
    
.footer-bottom a:hover {
    color: #000 !important;
    font-size: 1.05em;
    border: 2px solid #FFD700;
    border-radius: 5px;
}

.footer-bottom {
    background-color: #8B6914;
    margin-top: 10px;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    font-size: 18px;
        font-style: italic;
        font-weight: 550;
        color: #000;
}
.footer-bottom a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

div.footer-bottom ul li a {
    color: #FFFFFF;
    text-decoration: none;
}