ul {
    list-style: none;
    display: flex;
    justify-content: center;
        font-family: 'Azo Sans', sans-serif;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
        /* White font color */
        padding: 5px 10px;
        transition: background-color 0.3s ease, border 0.3s ease;
    }
    
    a:hover {
        background-color: #006400;
        /* Dark green background on hover */
        border: 2px solid #000000;
        /* Black border on hover */
        border-radius: 5px;
}

.footer-bottom {
    background-color: #8B6914;
        /* Rich gold background */
    margin-top: 10px;
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    font-size: 14px;
    color: #FFFFFF;
        /* White font color */
}
.footer-bottom a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

div.footer-bottom ul li a {
    color: #FFFFFF;
    text-decoration: none;
}